.error--container {
    position: fixed;
    top: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: white;
    width: clamp(300px, 50vw, 500px);
    height: clamp(100px, 50vh, 300px);
}