.main--container {
    height: 95vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    color: white;
    gap: 3rem;
}

.main--title {
    font-size: clamp(2.5rem, 5vw, 8rem);
    user-select: none;
    animation: fade-in 0.7s ease-in-out;
}

.main--question {
    animation: fade-in 0.7s ease-in-out;
}

.user--prompt {
    font-size: clamp(1.5rem, 3vw, 3rem);
    width: clamp(275px, 50vw, 1000px);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: white;
    animation: fade-in 0.7s ease-in-out;
}

.user--prompt:focus {
    outline-style: double;
    outline-color: purple;
    transform: scale(1.2);
}

.user--form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.user--search-btn {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #D9248B;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    animation: fade-in 0.7s ease-in-out;
}

.user--search-btn:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.keywords--container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: clamp(1.3rem, 2vw, 1.7rem);
    animation: fade-in 0.7s ease-in-out;
}

.keywords--title {
    font-size: clamp(1rem, 3vw, 1.7rem);
    align-self: center;
}

.keywords--list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style-type: none;
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}

@media screen and (min-width: 768px) {
    .user--search-btn {
        display: none;
    }
}