.nav--container {
    display: flex;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.nav--logo {
    width: clamp(100px, 15vw, 125px);
    height: clamp(50px, 15vw, 100px);
    margin-right: 20px;
    cursor: pointer;
    z-index: 888;
    position: fixed;
    top: 10px;
    transition: all 1s ease-in-out;
}

.nav--logo:hover {
    transform: scale(1.1) rotate3d(0, 1, 0, 180deg);
}